.notice {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 100;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: top 0.25s;
  -ms-transition: top 0.25s;
  -webkit-transition: top 0.25s;
}

.frame-1 {
  background-color: palegoldenrod;
}

.frame-2 {
  background-color: paleturquoise;
  top: -100%;
}

.frame-3 {
  background-color: palevioletred;
  top: -100%;
}

.frame-4 {
  background-color: palegreen;
  top: -100%;
}